<!DOCTYPE html>
<html>
<head>
	{{ partial "head.html" . }}
</head>
<body>

	{{ partial "header.html" . }}

	<div class="post">
	  <!-- Wrapper Start -->
	  <section id="intro" style="border: 1px dotted #ddd;">
	    <div class="container">
	      <div class="row">
	        <div>
	          <div class="block">
	            <h1>{{ .Params.title }}</h1>
	            <div class="post-info-wrapper">
	              <p class="italic">By <span class="bold">{{ .Params.author }}</span> on <span class="bold">{{ .Date.Format .Site.Params.date_format }}</span></p>
	            </div>
	            <hr />
	            <p>{{ .Content }}</p>
	          </div>
	        </div><!-- .col-md-7 close -->
	      </div>
	    </div>
	  </section>
	</div>
	<p class="center-text" style="padding: 30px;">
	  <a href="{{ $.Site.BaseURL }}/blog">Back to blog</a>
	</p>

	<section id="comments" style="border: 1px dotted #ddd;">
	  <div class="container">
	    <div class="row">
	      <div class="col-md-12">
					<div id="disqus_thread"></div>
	      </div>
	    </div>
	  </div>
	</section>

	<script>
	/**
	*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
	*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
	/*
	var disqus_config = function () {
	this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
	this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
	};
	*/
	(function() { // DON'T EDIT BELOW THIS LINE
	var d = document, s = d.createElement('script');
	s.src = 'https://megatherium-io.disqus.com/embed.js';
	s.setAttribute('data-timestamp', +new Date());
	(d.head || d.body).appendChild(s);
	})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

	{{ partial "footer.html" . }}
</body>
</html>
